/***********************************************/
/*Styles Transactions List*/
/***********************************************/
$font-main: 'Lato';
.title__main{
    color: #000;
    font-weight: 600;
    font-size: 1.2rem;
    display: inline-block;
    font-family: $font-main !important;
}