/***********************************************/
/*Styles Table Blocks*/
/***********************************************/
.table__head {
  background-color: #bbbb;
  padding: 2px 0; }
  .table__head .row_head {
    padding: 2px 16px !important; }

.MuiTableContainer-root {
  width: 100%;
  overflow-x: auto;
  border-radius: 0 !important; }

.MuiTableCell-head {
  color: #000 !important;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
  padding: 3px 20px !important;
  letter-spacing: normal; }

.MuiTableCell-body {
  color: #000 !important;
  font-weight: 600;
  letter-spacing: normal; }
  .MuiTableCell-body .logoAlgo {
    display: inline-block;
    vertical-align: top;
    margin-top: -2px;
    margin-left: -2px; }
  .MuiTableCell-body .logoTx {
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 0; }

.font-active {
  color: #2196F3 !important;
  font-weight: 500 !important; }
