/***********************************************/
/*Styles Contact*/
/***********************************************/
.title__big {
  width: 100%;
  height: auto;
  background-color: #c3e8ec;
  text-align: center;
  padding: 2% 0;
  font-size: 2rem;
  letter-spacing: normal;
  font-weight: 600;
  font-family: "Lato"; }

.form__contact {
  width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 3% 0; }
  .form__contact .title__input {
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    color: #000;
    font-weight: 600;
    letter-spacing: normal;
    height: auto;
    text-align: left; }
  .form__contact .box__input {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.65);
    height: 100%;
    padding: 15px 10px;
    color: #676767;
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: 400;
    border-radius: 4px;
    margin-top: 5px;
    outline: none; }
  .form__contact .box__textarea {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.65);
    height: 140px;
    padding: 15px 10px;
    color: #676767;
    font-size: 1rem;
    letter-spacing: normal;
    font-weight: 400;
    border-radius: 4px;
    margin-top: 5px;
    outline: none; }
  .form__contact .submit__btn {
    background-color: #676767;
    color: #fff;
    font-weight: 400;
    text-align: center;
    letter-spacing: normal;
    font-size: 1rem;
    padding: 10px 25px;
    cursor: pointer;
    transition: 0.6s;
    text-transform: none; }
  .form__contact .submit__btn:hover {
    opacity: 0.8;
    transition: 0.6s;
    background-color: #676767; }
