/***********************************************/
/*Styles Overview*/
/***********************************************/
.main__wrapper {
  display: grid;
  position: relative;
  transition: 0.6s;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px;
  width: 100%;
  margin-top: 2vw;
  align-items: normal;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
  .main__wrapper .box-container {
    background-color: #f7f7f7;
    border-right: 1px solid #e0dfdf;
    padding: 1em;
    height: auto;
    position: relative; }
    .main__wrapper .box-container .box-title {
      width: 100%;
      display: inline-block;
      height: auto;
      text-align: center;
      font-size: .8rem;
      color: #676767;
      text-align: left;
      font-weight: 500;
      letter-spacing: normal;
      text-transform: uppercase; }
    .main__wrapper .box-container .box-title.with-icon {
      background-image: url("../../assets/images/info-icon.png");
      background-position: right;
      background-size: 12px;
      background-repeat: no-repeat; }
    .main__wrapper .box-container .box-value {
      width: 100%;
      display: inline-block;
      height: auto;
      margin-top: 12px;
      text-align: center;
      font-size: 1.5rem;
      color: #000;
      font-weight: 500;
      text-transform: none; }
      .main__wrapper .box-container .box-value .logoAlgo {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0px;
        margin-left: 0;
        width: 16px;
        margin-top: -2px;
        margin-right: 5px; }
    .main__wrapper .box-container .box-value.with-algo {
      background-image: url("../../assets/images/algo.png");
      background-position: 4%;
      background-repeat: no-repeat;
      background-size: 15%;
      padding-left: 2%; }
    .main__wrapper .box-container .link__open {
      position: absolute;
      top: 1rem;
      cursor: pointer !important;
      right: 1rem;
      font-size: 1.2rem;
      color: #777; }
    .main__wrapper .box-container .calculator-icon {
      position: absolute;
      right: 1rem;
      bottom: 20%;
      background-color: #d0cfcf;
      width: 28px;
      height: 30px;
      background-image: url("../../assets/images/calculator.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: 70%;
      border-radius: 5px; }
  .main__wrapper .box-container:last-child {
    border-right: none; }

.main__wrapper__second {
  display: grid;
  position: relative;
  transition: 0.6s;
  grid-template-columns: 20% 52% 28%;
  grid-gap: 0px;
  width: 100%;
  border-radius: 4px;
  margin-top: 2vw;
  background-color: #f7f7f7;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  align-items: normal; }
  .main__wrapper__second .box-container {
    background-color: #f7f7f7;
    padding: 0;
    border-right: 1px solid #e0dfdf;
    position: relative; }
    .main__wrapper__second .box-container .box-inside {
      border-bottom: 1px solid #e0dfdf;
      padding: 1rem;
      height: 125px; }
    .main__wrapper__second .box-container .box-title {
      width: 100%;
      display: inline-block;
      height: auto;
      text-align: center;
      font-size: .8rem;
      color: #676767;
      font-weight: 500;
      text-align: left;
      letter-spacing: normal;
      text-transform: uppercase; }
      .main__wrapper__second .box-container .box-title .t-blue {
        color: #008ff9;
        font-weight: 600; }
    .main__wrapper__second .box-container .box-title.side {
      text-align: left; }
    .main__wrapper__second .box-container .box-title.with-icon {
      background-image: url("../../assets/images/info-icon.png");
      background-position: right;
      background-size: 12px;
      background-repeat: no-repeat; }
    .main__wrapper__second .box-container .box-value {
      width: 100%;
      display: inline-block;
      height: auto;
      margin-top: 12px;
      text-align: center;
      font-size: 1.5rem;
      color: #000;
      font-weight: 500;
      text-transform: none; }
    .main__wrapper__second .box-container .link__open {
      position: absolute;
      top: 1rem;
      right: 1rem;
      font-size: 0.9rem;
      color: #777;
      cursor: pointer;
      text-decoration: underline;
      color: #008ff9; }
    .main__wrapper__second .box-container .container__filter__main {
      height: auto;
      width: 100%;
      display: inline-block;
      vertical-align: top;
      margin-top: 15px;
      margin-bottom: 15px; }
      .main__wrapper__second .box-container .container__filter__main .input-filter {
        border: 1px solid #324964;
        font-size: 1.5rem;
        color: #000;
        outline: none;
        background-color: transparent;
        font-weight: 500;
        width: 65%;
        text-align: center;
        padding: 0px;
        display: inline-block;
        vertical-align: middle;
        border-radius: 4px; }
      .main__wrapper__second .box-container .container__filter__main .span-filter {
        display: inline-block;
        vertical-align: middle;
        height: auto;
        font-size: 1.2rem;
        font-weight: 500;
        width: 35%;
        text-align: center;
        text-transform: uppercase; }
    .main__wrapper__second .box-container .chart__container {
      width: 100%;
      margin-top: 10px;
      height: 150px;
      text-align: center;
      display: inline-block; }
    .main__wrapper__second .box-container .recharts-text tspan {
      color: #676767 !important;
      font-size: 0.9rem !important; }
    .main__wrapper__second .box-container .speedo-segment {
      fill: transparent;
      stroke: #005cc0 !important;
      stroke-dasharray: 1,49,50,0;
      stroke-width: 6.5px;
      border: none; }
    .main__wrapper__second .box-container .current-value {
      font-weight: 400 !important; }
    .main__wrapper__second .box-container .filters__container {
      position: absolute;
      top: 1rem;
      right: 15%;
      height: auto;
      border-radius: 4px; }
      .main__wrapper__second .box-container .filters__container .filter-c {
        height: auto;
        padding: 5px 10px;
        font-weight: 400;
        border-right: 1px solid #b3b3b3;
        background-color: #e4e4e4;
        text-align: center;
        display: inline-block;
        vertical-align: top;
        font-size: .7rem;
        cursor: pointer;
        color: #777;
        transition: 0.6s;
        text-decoration: none !important; }
      .main__wrapper__second .box-container .filters__container .filter-c:last-child {
        border-right: none; }
      .main__wrapper__second .box-container .filters__container .filter-c:hover {
        transition: 0.6s;
        background-color: #197ce8;
        color: #fff; }
      .main__wrapper__second .box-container .filters__container .filter-c.active {
        background-color: #197ce8;
        color: #fff; }
  .main__wrapper__second .box-container:last-child {
    border-right: none; }
  .main__wrapper__second .box-container.with-padding {
    padding: 1rem; }
  .main__wrapper__second .mark-input {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    font-size: .85rem;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    height: auto;
    text-align: center; }

.pointer {
  fill: #324964; }

.rating-value {
  display: inline-block;
  font-size: .8rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: right;
  color: #59d8a1;
  padding-left: 12px;
  background-image: url("../../assets/images/up-green.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 8px; }
