/***********************************************/
/*Styles Overview*/
/***********************************************/
$font-main: 'Lato';
$blue-light: #008ff9;
$blue-middle: #005cc0;
$black: #000;
$green-light: #59d8a1;
$gray-dark: #676767;
$blue-gray-dark:#324964;
.main__wrapper {
    display: grid;
    position: relative;
    transition: 0.6s;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0px;
    width: 100%;
    margin-top: 2vw;
    align-items: normal;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .box-container{
        background-color: #f7f7f7;
        border-right: 1px solid #e0dfdf;
        padding: 1em;
        height: auto;
        position: relative;

        .box-title{
            width: 100%;
            display: inline-block;
            height: auto;
            text-align: center;
            font-size: .8rem;
            color: $gray-dark;
            text-align: left;
            font-weight: 500;
            letter-spacing: normal;
            text-transform: uppercase;
        }
            .box-title.with-icon{
                background-image: url('../../assets/images/info-icon.png');
                background-position: right;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        .box-value{
            width: 100%;
            display: inline-block;
            height: auto;
            margin-top: 12px;
            text-align: center;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            text-transform: none;

            .logoAlgo{
                display: inline-block;
                vertical-align: middle;
                margin-top: 0px;
                margin-left: 0;
                width: 16px;
                margin-top: -2px;
                margin-right: 5px;
            }
        }
            .box-value.with-algo {
                background-image: url('../../assets/images/algo.png');
                background-position: 4%;
                background-repeat: no-repeat;
                background-size: 15%;
                padding-left: 2%;
            }

        .link__open{
            position: absolute;
            top: 1rem;
            cursor: pointer !important;
            right: 1rem;
            font-size: 1.2rem;
            color: #777;
        }

        .calculator-icon {
            position: absolute;
            right: 1rem;
            bottom: 20%;
            background-color: #d0cfcf;
            width: 28px;
            height: 30px;
            background-image: url('../../assets/images/calculator.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            border-radius: 5px;
        }
        
    }
    .box-container:last-child{
        border-right: none;
    }
}


.main__wrapper__second {
    display: grid;
    position: relative;
    transition: 0.6s;
    grid-template-columns: 20% 52% 28%;
    grid-gap: 0px;
    width: 100%;
    border-radius: 4px;
    margin-top: 2vw;
    background-color: #f7f7f7;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: normal;

    .box-container{
        background-color: #f7f7f7;
        padding: 0;
        border-right: 1px solid #e0dfdf;
        position: relative;

        .box-inside {
            border-bottom: 1px solid #e0dfdf;
            padding: 1rem;
            height: 125px;
        }
            
        .box-title{
            width: 100%;
            display: inline-block;
            height: auto;
            text-align: center;
            font-size: .8rem;
            color: $gray-dark;
            font-weight: 500;
            text-align: left;
            letter-spacing: normal;
            text-transform: uppercase;
            
            .t-blue{
                color: $blue-light;
                font-weight: 600;
            }
        }
        .box-title.side{
            text-align: left;
        }
        .box-title.with-icon{
            background-image: url('../../assets/images/info-icon.png');
            background-position: right;
            background-size: 12px;
            background-repeat: no-repeat;
        }
        .box-value{
            width: 100%;
            display: inline-block;
            height: auto;
            margin-top: 12px;
            text-align: center;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            text-transform: none;
        }
        .link__open{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 0.9rem;
            color: #777;
            cursor: pointer;
            text-decoration: underline;
            color: $blue-light;
        }
        .container__filter__main{
            height: auto;
            width: 100%;
            // background-color: yellow;
            display: inline-block;
            vertical-align: top;
            margin-top: 15px;
            margin-bottom: 15px;

            .input-filter{
                border: 1px solid #324964;
                font-size: 1.5rem;
                color: $black;
                outline: none;
                background-color: transparent;
                font-weight: 500;
                width: 65%;
                text-align: center;
                padding: 0px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 4px;
            }
            .span-filter{
                display: inline-block;
                vertical-align: middle;
                height: auto;
                font-size: 1.2rem;
                font-weight: 500;
                width: 35%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .chart__container {
            width: 100%;
            margin-top: 10px;
            height: 150px;
            text-align: center;
            display: inline-block;
            // background-color: pink;
        }
        .recharts-text tspan{
            color: $gray-dark !important;
            font-size: 0.9rem !important;
        }
        .speedo-segment {
            fill: transparent;
            stroke: $blue-middle !important;
            stroke-dasharray: 1,49,50,0;
            stroke-width: 6.5px;
            border: none;
        }
        .current-value{
            font-weight: 400 !important;

        }
        .filters__container{
            position: absolute;
            top: 1rem;
            right: 15%;
            height: auto;
            border-radius: 4px;

            .filter-c {
                height: auto;
                padding: 5px 10px;
                font-weight: 400 !important;
                border-right: 1px solid #d8d8d8;
                background-color: #e4e4e4;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                font-size: .75rem;
                cursor: pointer;
                color: #777;
                transition: 0.6s;
                text-decoration: none !important
            }
            .filter-c:last-child{
                border-right: none;
            }
            .filter-c:hover{
                transition: 0.6s;
                background-color: #197ce8;
                color: #fff;
            }
            .filter-c.active{
                background-color: #197ce8;
                color: #fff;
            }
        }
    }
        .box-container:last-child{
            border-right: none;
        }
        .box-container.with-padding{
            padding: 1rem;
        }

        .mark-input{
            display: inline-block;
            vertical-align: top;
            width: 33.3%;
            font-size: .85rem;
            color: $black;
            font-weight: 600;
            text-transform: uppercase;
            margin: 0;
            height: auto;
            text-align: center;
        }
}
.pointer{
    fill: $blue-gray-dark;
}
.rating-value{
    display: inline-block;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: normal;
    text-align: right;
    color: $green-light;
    padding-left: 12px;
    background-image: url('../../assets/images/up-green.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 8px;
}
