/***********************************************/
/*Styles Overview*/
/***********************************************/
$font-main: 'Lato';
$blue-light: #008ff9;
$blue-middle: #005cc0;
$black: #000;
.main__wrapper {
    display: grid;
    position: relative;
    transition: 0.6s;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-gap: 0px;
    width: 100%;
    margin-top: 2vw;
    align-items: normal;
    border-radius: 4px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);

    .box-container{
        background-color: #f7f7f7;
        border-right: 1px solid #e0dfdf;
        padding: 1em;
        height: auto;
        position: relative;

        .box-title{
            width: 100%;
            display: inline-block;
            height: auto;
            text-align: center;
            font-size: .8rem;
            color: #676767;
            text-align: left;
            font-weight: 400;
            letter-spacing: normal;
            text-transform: uppercase;
        }
            .box-title.with-icon{
                background-image: url('../../assets/images/info-icon.png');
                background-position: right;
                background-size: 12px;
                background-repeat: no-repeat;
            }
        .box-value{
            width: 100%;
            display: inline-block;
            height: auto;
            margin-top: 12px;
            text-align: center;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            text-transform: none;

            .logoAlgo{
                display: inline-block;
                vertical-align: top;
                margin-top: 0px;
                margin-left: -15px;
                width: 38px;
                margin-right: -8px;
            }
        }
            .box-value.with-algo {
                background-image: url('../../assets/images/algo.png');
                background-position: 4%;
                background-repeat: no-repeat;
                background-size: 15%;
                padding-left: 2%;
            }

        .link__open{
            position: absolute;
            top: 1rem;
            cursor: pointer !important;
            right: 1rem;
            font-size: 1.2rem;
            color: #777;
        }

        .calculator-icon {
            position: absolute;
            right: 1rem;
            bottom: 20%;
            background-color: #d0cfcf;
            width: 28px;
            height: 30px;
            background-image: url('../../assets/images/calculator.png');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 70%;
            border-radius: 5px;
        }
        
    }
    .box-container:last-child{
        border-right: none;
    }
}


.main__wrapper__second {
    display: grid;
    position: relative;
    transition: 0.6s;
    grid-template-columns: 20% 52% 28%;
    grid-gap: 0px;
    width: 100%;
    border-radius: 4px;
    margin-top: 2vw;
    background-color: #f7f7f7;
    align-items: center;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: normal;

    .box-container{
        background-color: #f7f7f7;
        padding: 0;
        border-right: 1px solid #e0dfdf;
        position: relative;

        .box-inside {
            border-bottom: 1px solid #e0dfdf;
            padding: 1rem;
            height: 125px;
        }
            
        .box-title{
            width: 100%;
            display: inline-block;
            height: auto;
            text-align: center;
            font-size: .8rem;
            color: #676767;
            font-weight: 400;
            text-align: left;
            letter-spacing: normal;
            text-transform: uppercase;
        }
        .box-title.side{
            text-align: left;
        }
        .box-title.with-icon{
            background-image: url('../../assets/images/info-icon.png');
            background-position: right;
            background-size: 12px;
            background-repeat: no-repeat;
        }
        .box-value{
            width: 100%;
            display: inline-block;
            height: auto;
            margin-top: 12px;
            text-align: center;
            font-size: 1.5rem;
            color: #000;
            font-weight: 500;
            text-transform: none;
        }
        .link__open{
            position: absolute;
            top: 1rem;
            right: 1rem;
            font-size: 1.1rem;
            color: #777;
            cursor: pointer;
        }
        .container__filter__main{
            height: auto;
            width: 100%;
            // background-color: yellow;
            display: inline-block;
            vertical-align: top;
            margin-top: 15px;
            margin-bottom: 15px;

            .input-filter{
                border: 1px solid #324964;
                font-size: 1.5rem;
                color: $black;
                outline: none;
                background-color: transparent;
                font-weight: 500;
                width: 65%;
                text-align: center;
                padding: 0px;
                display: inline-block;
                vertical-align: middle;
                border-radius: 4px;
            }
            .span-filter{
                display: inline-block;
                vertical-align: middle;
                height: auto;
                font-size: 1.2rem;
                font-weight: 500;
                width: 35%;
                text-align: center;
                text-transform: uppercase;
            }
        }
        .chart__container {
            width: 100%;
            margin-top: 10px;
            height: 150px;
            text-align: center;
            display: inline-block;
            // background-color: pink;
        }
        .speedo-segment {
            fill: transparent;
            stroke: $blue-middle !important;
            stroke-dasharray: 1,49,50,0;
            stroke-width: 6.5px;
            border: none;
        }
        .current-value{
            font-weight: 500 !important;

        }
        .filters__container{
            position: absolute;
            top: 1rem;
            right: 20%;
            height: auto;
            border-radius: 4px;

            .filter-c {
                height: auto;
                padding: 5px 10px;
                font-weight: 400;
                border-right: 1px solid #b3b3b3;
                background-color: #e4e4e4;
                text-align: center;
                display: inline-block;
                vertical-align: top;
                font-size: .75rem;
                cursor: pointer;
                color: #777;
                transition: 0.6s;
                text-decoration: none !important;
            }
            .filter-c:last-child{
                border-right: none;
            }
            .filter-c:hover{
                transition: 0.6s;
                background-color: #000;
                color: #fff;
            }
        }
    }
        .box-container:last-child{
            border-right: none;
        }
        .box-container.with-padding{
            padding: 1rem;
        }
}

.rating-value{
    display: inline-block;
    font-size: .8rem;
    font-weight: bold;
    letter-spacing: normal;
    text-align: right;
    color: #4f4e4e;
    padding-left: 15px;
    background-image: url('../../assets/images/up-arrow.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 10px;
}
