/***********************************************/
/*Styles Overview*/
/***********************************************/
.main__wrapper {
  display: grid;
  position: relative;
  transition: 0.6s;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px;
  width: 100%;
  margin-top: 1vw;
  align-items: normal;
  border-radius: 4px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
  .main__wrapper .box-container {
    background-color: #f7f7f7;
    border-right: 1px solid #e0dfdf;
    padding: 0;
    height: auto;
    background-color: pink;
    position: relative; }
  .main__wrapper .box-container:last-child {
    border-right: none; }

.box-title {
  width: 100%;
  display: inline-block;
  height: auto;
  text-align: center;
  font-size: .78rem;
  color: #676767;
  text-align: left;
  font-weight: 500;
  letter-spacing: normal;
  text-transform: uppercase; }
  .box-title .t-blue {
    color: #008ff9;
    font-weight: 700;
    font-size: .8rem;
    background-color: rgba(25, 124, 232, 0.1);
    border: 1px solid #008ff9;
    padding: 2px 20px;
    border-radius: 4px;
    margin-left: 5px; }
  .box-title .iconInfo {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    opacity: 0.8;
    margin-left: 8px;
    width: 12px; }

.box-title.with-icon {
  background-image: url("../../assets/images/info-icon.png");
  background-position: 70%;
  background-size: 12px;
  background-repeat: no-repeat; }

.box-value {
  width: 100%;
  display: inline-block;
  height: auto;
  text-align: center;
  font-size: 1.3rem;
  color: #000;
  font-weight: 500;
  text-transform: none; }
  .box-value .logoAlgo {
    display: inline-block;
    vertical-align: middle;
    margin-top: 0px;
    margin-left: 0;
    width: 15px;
    margin-top: -2px;
    margin-right: 5px; }

.box-value.big-font {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 10%; }

.box-value.with-algo {
  background-image: url("../../assets/images/algo.png");
  background-position: 4%;
  background-repeat: no-repeat;
  background-size: 15%;
  padding-left: 2%; }

.calculator-icon {
  position: absolute;
  right: 1rem;
  bottom: 20%;
  background-color: #d0cfcf;
  width: 28px;
  height: 30px;
  background-image: url("../../assets/images/calculator.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  border-radius: 5px; }

.box-container:last-child {
  border-right: none; }

.main__wrapper__second {
  display: grid;
  position: relative;
  transition: 0.6s;
  grid-template-columns: 20% 52% 28%;
  grid-gap: 0px;
  width: 100%;
  border-radius: 4px;
  margin-top: 1rem;
  background-color: #f7f7f7;
  align-items: center;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  align-items: normal; }
  .main__wrapper__second .box-container {
    background-color: #f7f7f7;
    padding: 0;
    border-right: 1px solid #e0dfdf;
    position: relative; }
  .main__wrapper__second .box-container:last-child {
    border-right: none; }
  .main__wrapper__second .box-container.with-padding {
    padding: 1rem; }
  .main__wrapper__second .mark-input {
    display: inline-block;
    vertical-align: top;
    width: 33.3%;
    font-size: .85rem;
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    height: auto;
    text-align: center; }

.filters__container {
  position: absolute;
  top: 8px !important;
  right: 15% !important;
  height: auto;
  border-radius: 4px; }
  .filters__container .filter-c {
    height: auto;
    padding: 2px 5px !important;
    font-weight: 400;
    border-right: 1px solid #d8d8d8;
    background-color: #e4e4e4;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: .7rem !important;
    cursor: pointer;
    color: #999 !important;
    transition: 0.6s;
    text-decoration: none !important; }
  .filters__container .filter-c:last-child {
    border-right: none; }
  .filters__container .filter-c:hover {
    transition: 0.6s;
    background-color: #008ff9;
    color: #fff; }
  .filters__container .filter-c.active {
    background-color: #008ff9;
    color: #fff; }

.chart__container {
  width: 100%;
  margin-top: 0px !important;
  height: 130px !important;
  text-align: center;
  display: inline-block; }
  .chart__container .recharts-text tspan {
    color: #676767 !important;
    font-size: 0.9rem !important; }
  .chart__container .speedo-segment {
    fill: transparent;
    stroke: #005cc0 !important;
    stroke-dasharray: 1,56,50,0;
    stroke-width: 6.5px;
    border: none; }
  .chart__container .current-value {
    font-weight: 400 !important; }
  .chart__container .recharts-responsive-container {
    position: absolute !important;
    text-align: center;
    left: 50% !important;
    transform: translateX(-50%) !important; }
  .chart__container .recharts-responsive-container.top-c {
    top: 15% !important; }

.center__container {
  width: 100%;
  height: 136px;
  padding: 10px;
  background-image: url("../../assets/images/algo-transparent.png");
  background-position: 45% 30%;
  background-size: 25%;
  background-repeat: no-repeat;
  display: inline-block !important; }
  .center__container .market__container {
    background-color: rgba(0, 92, 192, 0.2);
    width: 100%;
    position: absolute;
    bottom: 5px;
    text-align: center;
    font-size: .9rem;
    color: #008ff9;
    font-weight: 500;
    padding: 5px 0;
    z-index: 999;
    left: 0; }

.link__open {
  position: absolute;
  top: 8px;
  right: 10px;
  font-size: 0.8rem;
  cursor: pointer;
  text-decoration: underline !important;
  color: #008ff9 !important; }

.pointer {
  fill: #324964; }

.rating-value {
  display: inline-block;
  font-size: .85rem;
  font-weight: bold;
  letter-spacing: normal;
  text-align: right;
  color: #59d8a1;
  padding-left: 12px;
  background-image: url("../../assets/images/up-green.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 8px; }

.chart__container .recharts-responsive-container {
  position: absolute !important; }
