* {
  font-family: "Lato" !important; }

body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Lato" !important; }

::-webkit-scrollbar {
  width: 4px;
  height: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px !important;
  padding: 10px;
  margin-right: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece; }

.MuiGrid-container {
  width: 100%;
  display: flex !important;
  flex-wrap: wrap;
  text-align: left;
  box-sizing: border-box; }

.ah {
  position: relative;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  transform: translatex(-50%); }

.av {
  position: relative;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.App {
  font-family: "Lato" !important; }

.app {
  position: relative;
  text-align: center !important;
  margin-left: auto;
  margin-right: auto; }

.MuiGrid-spacing-xs-5 {
  width: calc(100% + 40px);
  margin: 0px !important; }

.master__container {
  width: 100%;
  position: relative;
  background-color: #fafafa;
  margin: 0 auto !important;
  text-align: center; }

.master {
  display: inline-block;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 40px; }

.root {
  flex-grow: 1 !important;
  display: flex !important; }

.root.home {
  position: relative !important;
  margin-top: 70px !important;
  flex-grow: 1 !important;
  padding: 0 !important;
  width: 100%;
  display: inline-block !important; }

.root.contact {
  position: relative !important;
  margin-top: 50px !important;
  flex-grow: 1 !important;
  padding: 0 !important;
  display: inline-block !important;
  margin-bottom: 50px;
  width: 100%; }

.root.footer {
  position: relative !important;
  background-image: linear-gradient(to bottom, #324964, #1e2a38);
  bottom: 0;
  width: 100%;
  margin-bottom: 0 !important;
  justify-content: center;
  text-align: center;
  border-radius: 0; }

.root.header {
  width: 100%;
  justify-content: center;
  text-align: center; }

.root.intern {
  position: relative !important;
  padding: 0 !important;
  flex-grow: 1 !important;
  margin-top: 70px !important; }

.root.more-padding {
  padding: 0 100px !important; }

.root.less-padding {
  padding: 0 8px !important; }

.root.no-padding {
  padding: 0 !important; }

.root.with-margin-top {
  margin-top: 16px;
  align-items: center; }

.root.second {
  background-color: rgba(103, 119, 139, 0.3);
  margin-top: 50px; }

.paper {
  padding: 15px 0;
  border: none;
  border-radius: 4px;
  box-sizing: border-box;
  position: relative;
  box-shadow: none !important;
  word-wrap: break-word !important;
  background-color: transparent !important; }

.paper.less-padding {
  padding: 8px 0px !important; }

.paper.no-padding {
  padding: 0px !important; }

.paper.normal {
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.85) !important;
  background-color: #fff;
  box-shadow: none !important; }

.paper.light {
  padding: 15px;
  background-color: #d6e0eb !important;
  color: #fff !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.12) !important; }

.paper.dark {
  padding: 15px;
  background-color: #042753 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; }

.paper.with-shadow {
  padding: 15px;
  background-color: #fff !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; }

.paper.intern-with-shadow {
  padding: 0 !important;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important; }

.paper.without-border {
  border: none !important; }

.paper.little {
  padding: 4px 8px !important;
  border-radius: 0;
  background-color: #fff !important;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important; }

.paper__footer {
  padding: 0;
  border: none;
  box-shadow: none !important;
  background-color: transparent !important; }

.align-right {
  text-align: right !important; }
