* {
  font-family: "Lato" !important; }

body {
  width: 100%;
  margin: 0 auto;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: "Lato" !important; }

.align-right {
  text-align: right !important; }

.ah {
  position: relative;
  left: 50% !important;
  -webkit-transform: translateX(-50%);
  transform: translatex(-50%); }

.av {
  position: relative;
  top: 50% !important;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }

.App {
  font-family: "Lato" !important; }

::-webkit-scrollbar {
  width: 4px;
  height: 2px; }

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px !important;
  padding: 10px;
  margin-right: 10px; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: #cecece;
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cecece; }

.master__container {
  width: 100%;
  position: relative;
  margin: 0 auto !important;
  text-align: center; }

.master {
  display: inline-block;
  max-width: 1300px;
  width: 100%; }
